*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jks
*.iml
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/build/
.mtj.tmp/
.kotlin
.gradle
.idea
.DS_Store
.externalNativeBuild
.cxx
hs_err_pid*
replay_pid*
xcuserdata
local.properties
captures
/composeApp/*.db
/composeApp/release/*
scripts
/iosApp/Pods/
/tlv.xml
