# Build artifacts & outputs
**/build/
.gradle/
captures/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# Allow the Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar
# Android native build folders
.externalNativeBuild/
.cxx/
# Generated database files
/composeApp/*.db
# Unpackaged release artifacts
/composeApp/release/
# IDE & Local configuration
.idea/
*.iml
local.properties
.DS_Store
# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata/
# Signing Keys
*.jks
# iOS
/iosApp/Pods/
# Kotlin
.kotlin/
.mtj.tmp/
# JVM logs
hs_err_pid*
replay_pid*
# Local scripts
/gists
# AI agents
/CLAUDE.md
